<div id="logreg-forms">
    <form  class="form-signin">
                <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Input  Password</h1>
                <div>
                <p>New Password</p> <input type="password" class="form-control" id="password"  required="" autofocus="">
                </div>
                <div>
                    <p>Re-Type Password</p>
                    <input type="password" id="password_re" name="password" class="form-control" required=""> 
                </div>    
                <button class="btn btn-success btn-block" id="update_password" type="button"> Update Password</button>
                <hr> 
            <p>Don't have an account!</p> 
    </form> 
</div>
<script>  
$('#update_password').on('click',function(){
    var password = $('#password').val();
    var password_re = $('#password_re').val();
    var token = '<%=token%>';
    var userid = '<%=userid%>';
    var fdata={password:password,password_re:password_re,token:token,userid:userid}
    $.ajax({
        method:'post',
        url:"/change_password",
        dataType: "json",
        data:fdata,
        success: function (res) {
           if(res.status='success'){
            $(location).attr('href', '/sign-in');
           }else{
            $('#error_msg').html( '<div class="alert alert-danger">Failed to change password.</div>');
           }
        }
    })
});
</script>