<style>




</style>
	<div class="bid-page" style="position: relative; overflow-y: hidden;">
        <div class="split-pane-page">
           <div class="split-pane with-button-bar">
              <div class="pane sixty hide-on-mobile">
                 <div class="buysell-header">
                    <div class="pane-header">
                       <h1 class="proxima-heading">Jordan 4 Retro <br class="hidden-xs">Bred (2019)</h1>
                       <div class="market-summary"><span class="grey">Highest Bid: </span><span class="bold">$235</span><span class="grey"> | Lowest Ask: </span><span class="bold">$269 </span></div>
                       <div class="hidden-xs">
                          <div class="market-summary"><span class="grey">U.S. Men's Size</span>&nbsp;<span class="bold">8</span></div>
                       </div>
                    </div>
                    <div class="header-image image-container"><img src="/uploads/products/<%=product.image%>" alt="Bred (2019)"></div>
                 </div>
              </div>
              
              
              
              
              <div style="position: relative; overflow-y: hidden;" class="pane forty pane-grey">
                 <div class="selection-title">Billing/Shipping</div>
                 <div class="selection-subtitle">Please choose your billing and shipping method</div>
                 <form action="/shop/checkout" method="post" id="checkout-form">
                         <div class='form-row'>
                               
                   <div class='col-xs-12 form-group required card_sec'>
                     <label class='control-label'>Name on Card</label>
                     <input class='form-control' name="name" id="card-name" size='4' type='text' required>
                   </div>
                 </div>
                 <div class='form-row'>
                   <div class='col-xs-12 form-group card required card_sec'>
                     <label class='control-label'>Card Number</label>
                     <input autocomplete='off'  id="card-number" class='form-control card-number' size='20' type='number' required>
                   </div>
                 </div>
                 <div class='form-row'>
                   <div class='col-md-4 form-group cvc required card_sec'>
                     <label class='control-label'>CVC</label>
                     <input autocomplete='off' id="card-cvc" class='form-control card-cvc' placeholder='ex. 311' size='4' type='number' required>
                   </div>
                   <div class='col-md-4 form-group expiration required'>
                     <label class='control-label'>Expiration</label>
                     <input class='form-control card-expiry-month' id="card-expiry-month"  placeholder='MM' size='2' type='number' required>
                   </div>
                   <div class='col-md-4 form-group expiration required'>
                     <label class='control-label'> </label>
                     <input class='form-control card-expiry-year' id="card-expiry-year" placeholder='YYYY' size='4' type='text' required>
                   </div>
                 </div>
                 
                 
             
             
     
                 <div class="address-form fs-block">
                    <div class="form-title">billing Info</div>
                    <input data-testid="user-firstName" name="firstName" type="text" required="" placeholder="First Name" autocomplete="true" class="field  " value=""><input data-testid="user-lastName" name="lastName" type="text" required="" placeholder="Last Name" autocomplete="true" class="field  " value="">
                    <div class="field   field-select">
                       <select name="countryCodeAlpha2" required="" placeholder="Country">
                          <option value="" disabled="">Country</option>
                          <option value="">Select Country or Region</option>
                          <option value="US">United States</option>
                          <option value="AU">Australia</option>
                          <option value="CA">Canada</option>
                          <option value="FR">France</option>
                          <option value="DE">Germany</option>
                          <option value="HK">Hong Kong SAR</option>
                          <option value="IT">Italy</option>
                          <option value="JP">Japan</option>
                          <option value="SG">Singapore</option>
                          <option value="AE">United Arab Emirates</option>
                          <option value="GB">United Kingdom</option>
                          <option disabled="">------</option>
                          <option value="AL">Albania</option>
                         
                       </select>
                       
                    </div>
                    <div>
                       <div class="GPlacesACField__Container-sc-1xqqpdz-0 iUshPx"><input data-testid="user-streetAddress" name="streetAddress" type="text" required="" placeholder="Address" autocomplete="true" class="field  " value=""></div>
                    </div>
                    <input data-testid="user-extendedAddress" id="address" name="address" type="text" placeholder="Address 2" autocomplete="true" class="field  " value=""><input data-testid="user-locality" name="locality" type="text" required="" placeholder="City" autocomplete="true" class="field  " value="">
                    <div class="inner-flex between"><input data-testid="user-region" name="region" type="text" placeholder="State/Province/Region" autocomplete="true" class="field field-full " value=""><input data-testid="user-postalCode" name="postalCode" type="text" required="" placeholder="Zip/Postal Code" autocomplete="true" class="field field-full " value=""></div>
                    <input data-testid="user-telephone" name="telephone" type="tel" required="" placeholder="Phone Number" autocomplete="true" class="field  " value="">
                 </div>
                 
                 
                 
                 <div class="address-form fs-block">
                    <div class="form-title">Shipping Info</div>
                    <input data-testid="user-firstName" name="firstName" type="text" required="" placeholder="First Name" autocomplete="true" class="field  " value=""><input data-testid="user-lastName" name="lastName" type="text" required="" placeholder="Last Name" autocomplete="true" class="field  " value="">
                    <div class="field   field-select">
                       <select name="countryCodeAlpha2" required="" placeholder="Country">
                          <option value="" disabled="">Country</option>
                          <option value="">Select Country or Region</option>
                          <option value="US">United States</option>
                          <option value="AU">Australia</option>
                          <option value="CA">Canada</option>
                          <option value="FR">France</option>
                          <option value="DE">Germany</option>
                          <option value="HK">Hong Kong SAR</option>
                          <option value="IT">Italy</option>
                          <option value="JP">Japan</option>
                          <option value="SG">Singapore</option>
                          <option value="AE">United Arab Emirates</option>
                          <option value="GB">United Kingdom</option>
                          <option disabled="">------</option>
                          <option value="AL">Albania</option>
                         
                       </select>
                       
                    </div>
                    <div>
                       <div class="GPlacesACField__Container-sc-1xqqpdz-0 iUshPx"><input data-testid="user-streetAddress" name="streetAddress" type="text" required="" placeholder="Address" autocomplete="true" class="field  " value=""></div>
                    </div>
                    <input data-testid="user-extendedAddress" name="extendedAddress" type="text" placeholder="Address 2" autocomplete="true" class="field  " value=""><input data-testid="user-locality" name="locality" type="text" required="" placeholder="City" autocomplete="true" class="field  " value="">
                    <div class="inner-flex between"><input data-testid="user-region" name="region" type="text" placeholder="State/Province/Region" autocomplete="true" class="field field-full " value=""><input data-testid="user-postalCode" name="postalCode" type="text" required="" placeholder="Zip/Postal Code" autocomplete="true" class="field field-full " value=""></div>
                    <input data-testid="user-telephone" name="telephone" type="tel" required="" placeholder="Phone Number" autocomplete="true" class="field  " value="">
                 </div>
     		<div class="nxt_btn">
					<button type="submit" class="btn btn-primary" >Make Payment</button>
						
					</div>
       </form>
                  
              </div>
           </div>
        </div>
     </div>
     <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="/js/checkout.js"></script>