<div class="page_wrapper">
    <% include ../../partials/messages %>
    <div id="logreg-forms">
   <form method="POST" class="form-signin">
       <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Please Enter Your Registerd Email Address </h1>
       <input 
       type="email" id="email" name="email" class="form-control" placeholder="Enter Email"
        required="" autofocus="">
      
       
       <button class="btn btn-success btn-block" type="submit"> Submit </button>
       <hr>
       </form>


       <br>
       
</div>

 </div>