<div class="bid-page" style="position: relative; overflow-y: hidden;">
        <div class="split-pane-page">
           <div class="split-pane with-button-bar">
              <div class="pane sixty hide-on-mobile">
                 <div class="buysell-header">
                    <div class="pane-header">
                       <h1 class="proxima-heading">Jordan 4 Retro <br class="hidden-xs">Bred (2019)</h1>
                       <div class="market-summary"><span class="grey">Highest Bid: </span><span class="bold">$235</span><span class="grey"> | Lowest Ask: </span><span class="bold">$269 </span></div>
                       <div class="hidden-xs">
                          <div class="market-summary"><span class="grey">U.S. Men's Size</span>&nbsp;<span class="bold">8</span></div>
                       </div>
                    </div>
                    <div class="header-image image-container"><img src="/assets/images/Air-Jordan-11-Retro-Concord-2018-1.jpg" alt="Bred (2019)"></div>
                 </div>
              </div>
              
              
              
              
              <div style="position: relative; overflow-y: hidden;" class="pane forty pane-grey">
                 
                 
                 <div class="payment-selection">
                    <div class="selection-title">Billing/Shipping</div>
                    <div class="selection-subtitle">Please choose your billing and shipping method</div>
                    <div class="payment-options">
                       <button data-testid="payment-button" class="paymentButton__Button-earipx-0 gqxTWB">
                          <div style="display: flex; align-items: center;">
                             <img src="/assets/images/payment-stripe.png"  alt="Paypal" class="badge__Badge-ufoui8-0 fJklpk">
                             <div style="margin-left: 10px;">Stripe</div>
                             <div style="flex: 1 1 0%; width: 100%; display: flex; justify-content: flex-end; align-items: center;">
                                <svg width="15" height="7" xmlns="http://www.w3.org/2000/svg">
                                   <path fill="black" id="svg_1" d="m7.53083,6.89884c0.10873,-0.00632 0.21178,-0.04931 0.29333,-0.12138l6.47343,-5.82608c0.10051,-0.08471 0.1631,-0.20608 0.17195,-0.33757c0.00948,-0.13086 -0.03477,-0.26046 -0.12201,-0.35843c-0.08787,-0.09799 -0.21178,-0.15615 -0.34264,-0.1612c-0.13149,-0.00506 -0.25983,0.04362 -0.35465,0.13402l-6.14975,5.53284l-6.14975,-5.53284c-0.09483,-0.0904 -0.22316,-0.13908 -0.35465,-0.13402c-0.13086,0.00506 -0.25476,0.06322 -0.34264,0.1612c-0.08724,0.09799 -0.13149,0.22757 -0.12201,0.35843c0.00885,0.13149 0.07144,0.25287 0.17195,0.33757l6.47343,5.82608c0.09735,0.08661 0.22442,0.13023 0.35402,0.12138l0,0z"></path>
                                </svg>
                             </div>
                          </div>
                       </button>
                       <!-- <button data-testid="payment-button" class="paymentButton__Button-earipx-0 gqxTWB">
                          <div style="display: flex; align-items: center;">
                             <div style="display: flex; justify-content: center;"><img src="images/visa.png" class="badge__Badge-ufoui8-0 fJklpk"><img src="images/badge-mastercard.png" alt="MasterCard" class="badge__Badge-ufoui8-0 fJklpk"><img src="images/discover.png" alt="Discover" class="badge__Badge-ufoui8-0 fJklpk"><img src="images/american-express.png" alt="American Express" class="badge__Badge-ufoui8-0 fJklpk"></div>
                             <div style="margin-left: 10px;">Credit Card</div>
                             <div style="flex: 1 1 0%; width: 100%; display: flex; justify-content: flex-end; align-items: center;">
                                <svg width="15" height="7" xmlns="http://www.w3.org/2000/svg">
                                   <path fill="black" id="svg_1" d="m7.53083,6.89884c0.10873,-0.00632 0.21178,-0.04931 0.29333,-0.12138l6.47343,-5.82608c0.10051,-0.08471 0.1631,-0.20608 0.17195,-0.33757c0.00948,-0.13086 -0.03477,-0.26046 -0.12201,-0.35843c-0.08787,-0.09799 -0.21178,-0.15615 -0.34264,-0.1612c-0.13149,-0.00506 -0.25983,0.04362 -0.35465,0.13402l-6.14975,5.53284l-6.14975,-5.53284c-0.09483,-0.0904 -0.22316,-0.13908 -0.35465,-0.13402c-0.13086,0.00506 -0.25476,0.06322 -0.34264,0.1612c-0.08724,0.09799 -0.13149,0.22757 -0.12201,0.35843c0.00885,0.13149 0.07144,0.25287 0.17195,0.33757l6.47343,5.82608c0.09735,0.08661 0.22442,0.13023 0.35402,0.12138l0,0z"></path>
                                </svg>
                             </div>
                          </div>
                       </button> -->
                       <div style="display: flex; width: 100%; align-items: center; justify-content: center;">
                          <div style="border: 1px solid rgb(224, 224, 224); width: 100%;"></div>
                          <div style="padding: 8px; color: rgb(224, 224, 224); font-weight: bold;">OR</div>
                          <div style="border: 1px solid rgb(224, 224, 224); width: 100%;"></div>
                       </div>
                       <button class="paymentButton__Button-earipx-0 gqxTWB">
                          <div style="display: flex; justify-content: space-between; align-items: center;">
                             <div style="display: flex; justify-content: center; align-items: center;">
                                <div style="font-weight: bold;">Buy now</div>
                                &nbsp;
                                <div>for $25/month with affirm</div>
                             </div>
                             <img src="/assets/images/badge-affirm.png" " alt="Affirm" class="badge__Badge-ufoui8-0 fJklpk">
                          </div>
                       </button>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>