<div class="sprt_sec">
		<div class="container-fluid">
		<div class="row">

		<h1> <%= product.name %></h1>
		
			
			
			<div class="nxt_btn">
					<a href="/shop/product/<%=product.id %>" class="btn btn-success" >BUY</a>
						
					</div>
					<div class="nxt_btn">
							<a href="/shop/product/<%=product.id %>" class="btn btn-primary" >SALE</a>
								
							</div>
				


		</div>
		</div>
		</div>
		
		
	