<div class="page_wrapper">
    <% include ../../partials/messages %>
    <div id="logreg-forms">
   <form method="POST" class="form-signin">
       <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">New Password</h1>
       <input type="token" id="token" name="token" class="form-control" placeholder="Enter Your Token" required="" autofocus="">
       <button class="btn btn-success btn-block" type="submit"> Sign in</button>
       <hr>
       </form>


       <br>
       
</div>

 </div>
 <!-- <script>

 $('.form-signin').on('submit',function(event){
     event.preventDefault();
    //alert('dfsf')
    var email=$("#email").val();
    var password=$("#password").val();

    var formdata = {email:email,password:password};
    $.ajax({
        method:'post',
        url:"/sign-in",
        //dataType: "json",
        data:formdata,
        success: function (response) {
            console.log(response);
            if(response.status=='success'){
                $(location).attr('href', '/user/profile');
            }else{
                alert(response);
            }
            
        }
    })
});
 </script> -->
 

