<div class="bid-page" style="position: relative; overflow-y: hidden;">
    <div class="split-pane-page">
       <div class="split-pane with-button-bar">
          <div class="pane sixty">
             <div class="buysell-header">
                <div class="pane-header">
                   <h1 class="proxima-heading">Jordan 1 Mid SE <br class="hidden-xs">Fearless Blue the Great</h1>
                   <div class="market-summary"><span class="grey">Highest Bid: </span><span class="bold">$440</span><span class="grey"> | Lowest Ask: </span><span class="bold">$140 </span></div>
                   <div class="hidden-xs"></div>
                </div>
                <div class="header-image image-container"><img src="/uploads/products/<%= product.image %>" alt="Fearless Blue the Great"></div>
             </div>
          </div>
          <div style="position: relative; overflow-y: hidden;" class="pane forty pane-grey"> 
             <div data-testid="product-size-grid" class="size-select-grid">
                <div class="bsSizeSelectGrid__Title-sc-10iau84-0 jqmgAU">Select Size</div>
                <div class="bsSizeSelectGrid__SubtitleContainer-sc-10iau84-1 efPZCS">
                   U.S. Men's Sizes | Lowest Asks
                   <div class="bsSizeSelectGrid__SizeChartButton-sc-10iau84-2 icWnhq">Size Chart</div>
                </div>
                <div class="grid-tiles">
                   <div class="grid-tile buy-tile">
                      <div class="tile-inner">
                         <div class="tile-value">US4</div>
                         <div class="tile-subvalue">
                            <div class="tile-subvalue value-black">Bid</div>
                         </div>
                      </div>
                   </div>
                   <div class="grid-tile buy-tile">
                      <div class="tile-inner">
                         <div class="tile-value">US4.5</div>
                         <div class="tile-subvalue">
                            <div class="tile-subvalue value-black">Bid</div>
                         </div>
                      </div>
                   </div>
                   <div class="grid-tile buy-tile">
                      <div class="tile-inner">
                         <div class="tile-value">US5</div>
                         <div class="tile-subvalue">
                            <div class="tile-subvalue value-black">Bid</div>
                         </div>
                      </div>
                   </div>
                   <div class="grid-tile buy-tile">
                      <div class="tile-inner">
                         <div class="tile-value">US5.5</div>
                         <div class="tile-subvalue">
                            <div class="tile-subvalue value-black">Bid</div>
                         </div>
                      </div>
                   </div>
                   <div class="grid-tile buy-tile">
                      <div class="tile-inner">
                         <div class="tile-value">US6</div>
                         <div class="tile-subvalue">
                            <div class="tile-subvalue">$750</div>
                         </div>
                      </div>
                   </div>
                   <div class="grid-tile buy-tile">
                      <div class="tile-inner">
                         <div class="tile-value">US6.5</div>
                         <div class="tile-subvalue">
                            <div class="tile-subvalue">$441</div>
                         </div>
                      </div>
                   </div>
                   <div class="grid-tile buy-tile">
                      <div class="tile-inner">
                         <div class="tile-value">US7</div>
                         <div class="tile-subvalue">
                            <div class="tile-subvalue">$446</div>
                         </div>
                      </div>
                   </div>
                   <div class="grid-tile buy-tile">
                      <div class="tile-inner">
                         <div class="tile-value">US7.5</div>
                         <div class="tile-subvalue">
                            <div class="tile-subvalue">$455</div>
                         </div>
                      </div>
                   </div>
                   <div class="grid-tile buy-tile">
                      <div class="tile-inner">
                         <div class="tile-value">US8</div>
                         <div class="tile-subvalue">
                            <div class="tile-subvalue">$176</div>
                         </div>
                      </div>
                   </div>
                   <div class="grid-tile buy-tile">
                      <div class="tile-inner">
                         <div class="tile-value">US8.5</div>
                         <div class="tile-subvalue">
                            <div class="tile-subvalue">$165</div>
                         </div>
                      </div>
                   </div>
                   <div class="grid-tile buy-tile">
                      <div class="tile-inner">
                         <div class="tile-value">US9</div>
                         <div class="tile-subvalue">
                            <div class="tile-subvalue">$165</div>
                         </div>
                      </div>
                   </div>
                   <div class="grid-tile buy-tile">
                      <div class="tile-inner">
                         <div class="tile-value">US9.5</div>
                         <div class="tile-subvalue">
                            <div class="tile-subvalue">$155</div>
                         </div>
                      </div>
                   </div>
                   <div class="grid-tile buy-tile">
                      <div class="tile-inner">
                         <div class="tile-value">US10</div>
                         <div class="tile-subvalue">
                            <div class="tile-subvalue">$148</div>
                         </div>
                      </div>
                   </div>
                   <div class="grid-tile buy-tile">
                      <div class="tile-inner">
                         <div class="tile-value">US10.5</div>
                         <div class="tile-subvalue">
                            <div class="tile-subvalue">$140</div>
                         </div>
                      </div>
                   </div>
                   <div class="grid-tile buy-tile">
                      <div class="tile-inner">
                         <div class="tile-value">US11</div>
                         <div class="tile-subvalue">
                            <div class="tile-subvalue">$147</div>
                         </div>
                      </div>
                   </div>
                   <div class="grid-tile buy-tile">
                      <div class="tile-inner">
                         <div class="tile-value">US11.5</div>
                         <div class="tile-subvalue">
                            <div class="tile-subvalue">$150</div>
                         </div>
                      </div>
                   </div>
                   <div class="grid-tile buy-tile">
                      <div class="tile-inner">
                         <div class="tile-value">US12</div>
                         <div class="tile-subvalue">
                            <div class="tile-subvalue">$144</div>
                         </div>
                      </div>
                   </div>
                   <div class="grid-tile buy-tile">
                      <div class="tile-inner">
                         <div class="tile-value">US12.5</div>
                         <div class="tile-subvalue">
                            <div class="tile-subvalue">$265</div>
                         </div>
                      </div>
                   </div>
                   <div class="grid-tile buy-tile">
                      <div class="tile-inner">
                         <div class="tile-value">US13</div>
                         <div class="tile-subvalue">
                            <div class="tile-subvalue">$157</div>
                         </div>
                      </div>
                   </div>
                   <div class="grid-tile buy-tile">
                      <div class="tile-inner">
                         <div class="tile-value">US13.5</div>
                         <div class="tile-subvalue">
                            <div class="tile-subvalue value-black">Bid</div>
                         </div>
                      </div>
                   </div>
                   <div class="grid-tile buy-tile">
                      <div class="tile-inner">
                         <div class="tile-value">US14</div>
                         <div class="tile-subvalue">
                            <div class="tile-subvalue">$145</div>
                         </div>
                      </div>
                   </div>
                   <div class="grid-tile buy-tile">
                      <div class="tile-inner">
                         <div class="tile-value">US14.5</div>
                         <div class="tile-subvalue">
                            <div class="tile-subvalue">$798</div>
                         </div>
                      </div>
                   </div>
                   <div class="grid-tile buy-tile">
                      <div class="tile-inner">
                         <div class="tile-value">US15</div>
                         <div class="tile-subvalue">
                            <div class="tile-subvalue value-black">Bid</div>
                         </div>
                      </div>
                   </div>
                   <div class="grid-tile buy-tile">
                      <div class="tile-inner">
                         <div class="tile-value">US16</div>
                         <div class="tile-subvalue">
                            <div class="tile-subvalue value-black">Bid</div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 
 