<div class="page_wrapper">
        <% include ../../partials/messages %>
        <div id="logreg-forms">
       <form action="#" method="POST" class="form-signin">
           <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
           <div class="social-login">
               <button onclick="location.href='/auth/facebook'" class="btn facebook-btn social-btn" type="button"><span><i class="fa fa-facebook"></i> Sign in with Facebook</span> </button>
               <button onclick="location.href='/auth/twitter'" class="btn google-btn social-btn" type="button"><span><i class="fa fa-twitter"></i> Sign in with twitter</span> </button>
           </div>
           <p style="text-align:center"> OR  </p>
           <input 
           type="email"
           id="email"
           name="email"
           class="form-control"
           placeholder="Enter Email"
            required="" autofocus="">
           <input 
           type="password"
            id="password"
            name="password"
            class="form-control"
            required="">
           
           <button class="btn btn-success btn-block" type="submit"> Sign in</button>
           <a href="/sign-in/forget/" id="forgot_pswd">Forgot password?</a>
           <hr>
           <!-- <p>Don't have an account!</p>  -->
           <a href="/sign-up" class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fa fa-user-plus"></i> Sign up New Account</a>
           </form>

   
           <br>
           
   </div>
   
     </div>
     <script>

     $('.form-signin').on('submit',function(event){
         event.preventDefault();
        //alert('dfsf')
        var email=$("#email").val();
        var password=$("#password").val();

		var formdata = {email:email,password:password};
		$.ajax({
			method:'post',
			url:"/sign-in",
			//dataType: "json",
			data:formdata,
			success: function (response) {
                console.log(response);
				if(response.status=='success'){
                    $(location).attr('href', '/user/profile');
                }else{
                    alert(response);
                }
				
			}
		})
	});
     </script>
     

