<div class="page_wrapper">
        <% include ../../partials/messages %>
        <div id="logreg-forms">
       <form action="/sign-in" method="POST" class="form-signin">
           <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Validation Form</h1>
  
           <p style="text-align:center"> OR  </p>
           <input 
           type="email"
           id="email"
           name="token"
           class="form-control"
           placeholder="Enter Validation Token"
            required="" autofocus="">

           <button class="btn btn-success btn-block" type="submit">Confirm Validation</button>
          
           <hr>

           </form>

   
           <br>
           
   </div>
   
     </div>