<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin/">
              <i class="ti-shield menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="ti-gift menu-icon"></i>
              <span class="menu-title">Products</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/add-product">Add Products</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/template-products/1">Products</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic-brand-category" aria-expanded="false" aria-controls="ui-basic">
              <i class="ti-info-alt menu-icon"></i>
              <span class="menu-title">Category</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic-brand-category">
              <ul class="nav flex-column sub-menu">
                <!-- <li class="nav-item"> <a class="nav-link" href="/admin/brand/1">Brands</a></li> -->
                <li class="nav-item"> <a class="nav-link" href="/admin/category/">Category</a></li>

              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic-banner" aria-expanded="false" aria-controls="ui-basic">
              <i class="ti-info-alt menu-icon"></i>
              <span class="menu-title">Banner</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic-banner">
              <ul class="nav flex-column sub-menu">
                <!-- <li class="nav-item"> <a class="nav-link" href="/admin/brand/1">Brands</a></li> -->
                <li class="nav-item"> <a class="nav-link" href="/admin/banner/">Banner</a></li>

              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#brands" aria-expanded="false" aria-controls="auth">
              <i class="ti-package menu-icon"></i>
              <span class="menu-title">Brands</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="brands">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/brand"> Brands </a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="ti-user menu-icon"></i>
                <span class="menu-title">Users</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/admin/users/"> Users </a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#sales" aria-expanded="false" aria-controls="auth">
                  <i class="ti-write menu-icon"></i>
                  <span class="menu-title">Sales</span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="sales">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/admin/buying">Buy Bids</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/admin/selling">Sale Asks</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/admin/orders/"> Orders </a></li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#transcation" aria-expanded="false" aria-controls="auth">
                  <i class="ti-money menu-icon"></i>
                  <span class="menu-title">Transcation</span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="transcation">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/admin/transaction/"> Transcation </a></li>
                  </ul>
                </div>
              </li>
        </ul>
      </nav>