<div class="col-xl-3">
    <div class="tab_sys">
    <div class="tab tvs">
    <h1>Sunil thakur</h1>
    </div>
        <ul class="nav nav-pills nav-stacked flex-column">
            <li class="active"><a href="/user/buying" ><img src="images/img_1.png">Buying</a></li>
            <li><a href="/user/selling" ><img src="/assets/images/img_2.png">Selling</a></li>
            <li><a href="/user/profile" ><img src="/assets/images/img_3.png">Profile</a></li>
            <li><a href="/user/portfolio" ><img src="/assets/images/img_4.png">protfolio</a></li>
            <li><a href="/user/Following" ><img src="/assets/images/img_5.png">Following</a></li>
            <li><a href="/user/setting" ><img src="/assets/images/img_6.png">setting</a></li>           
        </ul>
    </div>
    </div>
    