<div class="tabs ">
      <div class="container-fluid">
        <div class="row">
            <% include ../../partials/user_dashboard_nav %>   

            <div class="col-xl-9">
                  <div class="tab-content">     

<div class=" active" id="tab_a">
        <div class="buyer-stats">
       <div class="stat">
          <div><img src="images/buying1.png"></div>
          <div>
             <h3>purchasing</h3>
             <h2>--</h2>
          </div>
       </div>
       <div class="stat">
          <div><img src="images/buying2.png"></div>
          <div>
             <h3>purchasing (#)</h3>
             <h2>--</h2>
          </div>
       </div>
    </div>
    
<div id="selling-tabs " class="sl_tab">
   <ul role="tablist" class="nav nav-tabs">
      <li role="presentation" class="active"><a id="selling-tabs-tab-current" role="tab" aria-controls="selling-tabs-pane-current" aria-selected="true" href="#"><span>current</span></a></li>
      <li role="presentation" class=""><a id="selling-tabs-tab-pending" role="tab" aria-controls="selling-tabs-pane-pending" tabindex="-1" aria-selected="false" href="#"><span>pending</span></a></li>
      <li role="presentation" class=""><a id="selling-tabs-tab-history" role="tab" aria-controls="selling-tabs-pane-history" tabindex="-1" aria-selected="false" href="#"><span>history</span></a></li>
   </ul>
   <div class="tab-content">
      <div id="selling-tabs-pane-current" aria-labelledby="selling-tabs-tab-current" role="tabpanel" aria-hidden="false" class="tab-pane active">
         <div class="current-bids">
            <div class="collection-header header-current pagingCollectionTable__ActionBar-d8ww1c-4 iSIVdG">
               <form class="form-inline searchForm pagingCollectionTable__SearchForm-d8ww1c-0 eJUxod">
                  <div class="form-group">
                     <div class="pagingCollectionTable__SearchBar-d8ww1c-1 gRvpGB"><input type="submit" class="pagingCollectionTable__SubmitButton-d8ww1c-3 QsRlz" value="Search"><input class="form-control searchInput" type="text" placeholder="Search name" value=""></div>
                  </div>
               </form>
            </div>
            <div class="portfolio-item-table" style="position: relative;">
               <table class="table">
                  <thead>
                     <tr class="headers">
                        <th class="col-md-3 col-sm-5 col-xs-5 sortable undefined">Item </th>
                        <th class="col-sm-2 col-xs-4 sortable undefined">Bid Price </th>
                        <th class="col-lg-2 hidden-md hidden-sm hide-xs sortable undefined">Highest Bid </th>
                        <th class="col-md-2 hidden-sm hide-xs sortable undefined">Lowest Ask </th>
                        <th class="col-md-2 col-sm-2 col-xs-3 sortable undefined">Expires </th>
                        <th class="col-sm-1 actions col-xs-1 undefined"> </th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td colspan="6" class="no-pis"><em>No Results.</em></td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
      <div id="selling-tabs-pane-pending" aria-labelledby="selling-tabs-tab-pending" role="tabpanel" aria-hidden="true" class="tab-pane">
      
      </div>
      <div id="selling-tabs-pane-history" aria-labelledby="selling-tabs-tab-history" role="tabpanel" aria-hidden="true" class="tab-pane">
      
      
      </div>
   </div>
</div>
    
    
    
    </div>
   </div>
            </div>

         </div>         
      </div>
</div>
    
    