	
						
             <div class="tabs ">
                    <div class="container-fluid">
                      <div class="row">
                        <% include ../../partials/user_dashboard_nav %>   
						<div class="col-xl-9">
								<div class="tab-content">     
					 
       							 <div class="" id="tab_d">
								<div class="collection-page">
								   <div>
									  <h1 class="portfolio-head">Your Portfolio</h1>
								   </div>
								   <div class="container-fluid collection-container">
									  <div class="row">
										 <div class="col-md-4 totals col-xs-12 pull-right">
											<div class="spacer"></div>
											<div class="totals-inner">
											   <div class="h4 banner banner-red">Totals</div>
											   <div class="t-block">
												  <div class="t-stats-table">
													 <table class="table">
														<thead>
														   <tr class="t-headers">
															  <th>Items</th>
															  <th>Rank</th>
															  <th>Percentile</th>
														   </tr>
														</thead>
														<tbody>
														   <tr>
															  <td class="green">1</td>
															  <td class="rank">2,664,179</td>
															  <td class="percentile">0%</td>
														   </tr>
														</tbody>
													 </table>
												  </div>
											   </div>
											   <div class="t-block">
												  <div class="t-stats-table">
													 <table class="table">
														<thead>
														   <tr class="t-headers">
															  <th colspan="3">Market Value</th>
														   </tr>
														</thead>
														<tbody>
														   <tr>
															  <td class="green">$256</td>
															  <td class="rank">1,577,985</td>
															  <td class="percentile">41%</td>
														   </tr>
														</tbody>
													 </table>
												  </div>
											   </div>
											   <div class="t-block">
												  <div class="t-stats-table">
													 <table class="table">
														<thead>
														   <tr class="t-headers">
															  <th colspan="3">Gain/Loss</th>
														   </tr>
														</thead>
														<tbody>
														   <tr>
															  <td class="green">-$77</td>
															  <td class="rank">2,418,572</td>
															  <td class="percentile">9%</td>
														   </tr>
														</tbody>
													 </table>
												  </div>
											   </div>
											   <div class="t-block">
												  <div class="t-stats-table">
													 <table class="table">
														<thead>
														   <tr class="t-headers">
															  <th colspan="3">Average Price</th>
														   </tr>
														</thead>
														<tbody>
														   <tr>
															  <td class="green">$256</td>
															  <td class="rank">774,854</td>
															  <td class="percentile">71%</td>
														   </tr>
														</tbody>
													 </table>
												  </div>
											   </div>
											   <div class="t-block empty">
												  <div class="undefined t-img"><img alt=""></div>
												  <div class="t-stats-table">
													 <table class="table">
														<tbody>
														   <tr>
															  <td class="green"></td>
															  <td colspan="2" class="total-collections"><span class="paren-text">(2,664,179 portfolios)</span></td>
														   </tr>
														</tbody>
													 </table>
												  </div>
											   </div>
											   <div class="row share">
												  <div class="col-xs-6"><a href="https://twitter.com/intent/tweet?text=My collection is worth $256: https://stockx.com/portfolios/wildfrog2401571813824132. Value yours @StockX, the Stock Market for Sneakers." class="share share-button btn btn-twitter"><i class="fa fa-twitter" aria-hidden="true"></i>
 Share</a></div>
												  <div class="col-xs-6"><a href="https://www.facebook.com/sharer/sharer.php?app_id=113869198637480&amp;sdk=joey&amp;description=My%20collection%20is%20worth%20$256:%20https://stockx.com/portfolios/wildfrog2401571813824132.%20Value%20yours%20@StockX,%20the%20Stock%20Market%20for%20Sneakers.&amp;u=https://stockx.com/portfolios/wildfrog2401571813824132&amp;display=popup&amp;ref=plugin&amp;src=share_button" class="share share-button btn btn-facebook"><i class="fa fa-facebook" aria-hidden="true"></i>
 Share</a></div>
											   </div>
											</div>
										 </div>
										 <div class="col-md-8 charts col-xs-12">
											<div id="charts-tabs">
											   <ul role="tablist" class="nav nav-tabs tvtv">
												  <li role="presentation" class="basic-stats-tab active"><a id="charts-tabs-tab-basic" role="tab" aria-controls="charts-tabs-pane-basic" aria-selected="true" href="#">Basic</a></li>
												  <li role="presentation" class="adv-stats-tab"><a id="charts-tabs-tab-advanced" role="tab" aria-controls="charts-tabs-pane-advanced" tabindex="-1" aria-selected="false" href="#">Advanced</a></li>
											   </ul>
											   <div class="tab-content">
												  <div id="charts-tabs-pane-basic" aria-labelledby="charts-tabs-tab-basic" role="tabpanel" aria-hidden="false" class="tab-pane active">
													 <div class="row">
														<div class="col-md-6 col-xs-12">
														   <div id="volume-chart" class="chart bar-chart">
															  <div data-highcharts-chart="2">
																 <div id="highcharts-5krjcey-6" style="position: relative; overflow: hidden; width: 321px; height: 400px; text-align: left; line-height: normal; z-index: 0; left: 0px; top: 0.399994px;" dir="ltr" class="highcharts-container ">
																	<svg version="1.1" class="highcharts-root" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Arial, Helvetica, sans-serif;font-size:12px;" xmlns="http://www.w3.org/2000/svg" width="321" height="400" viewBox="0 0 321 400">
																	   <desc>Created with Highcharts 6.2.0</desc>
																	   <defs>
																		  <clipPath id="highcharts-5krjcey-8">
																			 <rect x="0" y="0" width="301" height="297" fill="none"></rect>
																		  </clipPath>
																	   </defs>
																	   <rect fill="#ffffff" class="highcharts-background" x="0" y="0" width="321" height="400" rx="0" ry="0"></rect>
																	   <rect fill="none" class="highcharts-plot-background" x="10" y="47" width="301" height="297"></rect>
																	   <rect fill="none" class="highcharts-plot-border" data-z-index="1" x="10" y="47" width="301" height="297"></rect>
																	   <g class="highcharts-series-group" data-z-index="3">
																		  <g data-z-index="0.1" class="highcharts-series highcharts-series-0 highcharts-pie-series highcharts-tracker " transform="translate(10,47) scale(1 1)" style="cursor:pointer;">
																			 <path fill="#00aeef" visibility="hidden" d="M 150.47179126128822 10.000002872682131 A 138.5 138.5 0 1 1 150.3076262785771 10.000133601684269 M 150.30901525851516 11.000132637051166 A 137.5 137.5 0 1 0 150.4719949344919 11.000002851940735 " class="highcharts-halo highcharts-color-0" data-z-index="-1" fill-opacity="0.25"></path>
																			 <path fill="rgb(0,174,239)" d="M 150.47179126128822 10.000002872682131 A 138.5 138.5 0 1 1 150.3076262785771 10.000133601684269 M 150.5 148.5 A 0 0 0 1 0 150.5 148.5 " transform="translate(0,0)" stroke="#ffffff" stroke-width="1" stroke-linejoin="round" class="highcharts-point highcharts-color-0 "></path>
																		  </g>
																		  <g data-z-index="0.1" class="highcharts-markers highcharts-series-0 highcharts-pie-series " transform="translate(10,47) scale(1 1)"></g>
																	   </g>
																	   <text x="161" text-anchor="middle" class="highcharts-subtitle" data-z-index="4" style="color:#666666;fill:#666666;" y="46"></text>
																	   <g class="highcharts-legend" data-z-index="7" transform="translate(122,356)">
																		  <rect fill="none" class="highcharts-legend-box" rx="0" ry="0" x="0" y="0" width="76" height="29" visibility="visible"></rect>
																		  <g data-z-index="1">
																			 <g>
																				<g class="highcharts-legend-item highcharts-pie-series highcharts-color-0" data-z-index="1" transform="translate(8,3)">
																				   <text x="21" style="color:#333333;font-size:12px;font-weight:bold;cursor:pointer;fill:#333333;" text-anchor="start" data-z-index="2" y="15">
																					  <tspan>adidas</tspan>
																				   </text>
																				   <rect x="2" y="4" width="12" height="12" fill="#00aeef" rx="6" ry="6" class="highcharts-point" data-z-index="3"></rect>
																				</g>
																			 </g>
																		  </g>
																	   </g>
																	   <g class="highcharts-label highcharts-tooltip highcharts-color-0" style="pointer-events:none;white-space:nowrap;" data-z-index="8" transform="translate(134,-9999)" opacity="0" visibility="visible">
																		  <path fill="none" class="highcharts-label-box highcharts-tooltip-box highcharts-shadow" d="M 3.5 0.5 L 56.5 0.5 C 59.5 0.5 59.5 0.5 59.5 3.5 L 59.5 61.5 C 59.5 64.5 59.5 64.5 56.5 64.5 L 3.5 64.5 C 0.5 64.5 0.5 64.5 0.5 61.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" stroke="#000000" stroke-opacity="0.049999999999999996" stroke-width="5" transform="translate(1, 1)"></path>
																		  <path fill="none" class="highcharts-label-box highcharts-tooltip-box highcharts-shadow" d="M 3.5 0.5 L 56.5 0.5 C 59.5 0.5 59.5 0.5 59.5 3.5 L 59.5 61.5 C 59.5 64.5 59.5 64.5 56.5 64.5 L 3.5 64.5 C 0.5 64.5 0.5 64.5 0.5 61.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" stroke="#000000" stroke-opacity="0.09999999999999999" stroke-width="3" transform="translate(1, 1)"></path>
																		  <path fill="none" class="highcharts-label-box highcharts-tooltip-box highcharts-shadow" d="M 3.5 0.5 L 56.5 0.5 C 59.5 0.5 59.5 0.5 59.5 3.5 L 59.5 61.5 C 59.5 64.5 59.5 64.5 56.5 64.5 L 3.5 64.5 C 0.5 64.5 0.5 64.5 0.5 61.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" stroke="#000000" stroke-opacity="0.15" stroke-width="1" transform="translate(1, 1)"></path>
																		  <path fill="rgba(247,247,247,0.85)" class="highcharts-label-box highcharts-tooltip-box" d="M 3.5 0.5 L 56.5 0.5 C 59.5 0.5 59.5 0.5 59.5 3.5 L 59.5 61.5 C 59.5 64.5 59.5 64.5 56.5 64.5 L 3.5 64.5 C 0.5 64.5 0.5 64.5 0.5 61.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" stroke="#00aeef" stroke-width="1"></path>
																		  <text x="8" data-z-index="1" style="font-size:12px;color:#333333;cursor:default;fill:#333333;" y="20">
																			 <tspan style="font-weight:bold">adidas</tspan>
																			 <tspan x="8" dy="15">1 Items</tspan>
																			 <tspan x="8" dy="15">100%</tspan>
																		  </text>
																	   </g>
																	</svg>
																	<span style="font-family: &quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Arial, Helvetica, sans-serif; font-size: 18px; position: absolute; white-space: nowrap; margin-left: 0px; margin-top: 0px; left: 107.5px; top: 7px; color: rgb(51, 51, 51);" class="highcharts-title" data-z-index="4">Item Count</span>
																 </div>
															  </div>
														   </div>
														</div>
														<div class="col-md-6 col-xs-12">
														   <div id="value-chart" class="chart bar-chart">
															  <div data-highcharts-chart="3">
																 <div id="highcharts-5krjcey-9" style="position: relative; overflow: hidden; width: 321px; height: 400px; text-align: left; line-height: normal; z-index: 0; left: 0.666687px; top: 0.399994px;" dir="ltr" class="highcharts-container ">
																	<svg version="1.1" class="highcharts-root" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Arial, Helvetica, sans-serif;font-size:12px;" xmlns="http://www.w3.org/2000/svg" width="321" height="400" viewBox="0 0 321 400">
																	   <desc>Created with Highcharts 6.2.0</desc>
																	   <defs>
																		  <clipPath id="highcharts-5krjcey-11">
																			 <rect x="0" y="0" width="301" height="297" fill="none"></rect>
																		  </clipPath>
																	   </defs>
																	   <rect fill="#ffffff" class="highcharts-background" x="0" y="0" width="321" height="400" rx="0" ry="0"></rect>
																	   <rect fill="none" class="highcharts-plot-background" x="10" y="47" width="301" height="297"></rect>
																	   <rect fill="none" class="highcharts-plot-border" data-z-index="1" x="10" y="47" width="301" height="297"></rect>
																	   <g class="highcharts-series-group" data-z-index="3">
																		  <g data-z-index="0.1" class="highcharts-series highcharts-series-0 highcharts-pie-series highcharts-tracker " transform="translate(10,47) scale(1 1)" style="cursor:pointer;">
																			 <path fill="#00aeef" visibility="hidden" d="M 150.47179126128822 10.000002872682131 A 138.5 138.5 0 1 1 150.3076262785771 10.000133601684269 M 150.30901525851516 11.000132637051166 A 137.5 137.5 0 1 0 150.4719949344919 11.000002851940735 " class="highcharts-halo highcharts-color-0" data-z-index="-1" fill-opacity="0.25"></path>
																			 <path fill="rgb(0,174,239)" d="M 150.47179126128822 10.000002872682131 A 138.5 138.5 0 1 1 150.3076262785771 10.000133601684269 M 150.5 148.5 A 0 0 0 1 0 150.5 148.5 " transform="translate(0,0)" stroke="#ffffff" stroke-width="1" stroke-linejoin="round" class="highcharts-point highcharts-color-0 "></path>
																		  </g>
																		  <g data-z-index="0.1" class="highcharts-markers highcharts-series-0 highcharts-pie-series " transform="translate(10,47) scale(1 1)"></g>
																	   </g>
																	   <text x="161" text-anchor="middle" class="highcharts-subtitle" data-z-index="4" style="color:#666666;fill:#666666;" y="46"></text>
																	   <g class="highcharts-legend" data-z-index="7" transform="translate(122,356)">
																		  <rect fill="none" class="highcharts-legend-box" rx="0" ry="0" x="0" y="0" width="76" height="29" visibility="visible"></rect>
																		  <g data-z-index="1">
																			 <g>
																				<g class="highcharts-legend-item highcharts-pie-series highcharts-color-0" data-z-index="1" transform="translate(8,3)">
																				   <text x="21" style="color:#333333;font-size:12px;font-weight:bold;cursor:pointer;fill:#333333;" text-anchor="start" data-z-index="2" y="15">
																					  <tspan>adidas</tspan>
																				   </text>
																				   <rect x="2" y="4" width="12" height="12" fill="#00aeef" rx="6" ry="6" class="highcharts-point" data-z-index="3"></rect>
																				</g>
																			 </g>
																		  </g>
																	   </g>
																	   <g class="highcharts-label highcharts-tooltip highcharts-color-0" style="pointer-events:none;white-space:nowrap;" data-z-index="8" transform="translate(160,-9999)" opacity="0" visibility="visible">
																		  <path fill="none" class="highcharts-label-box highcharts-tooltip-box highcharts-shadow" d="M 3.5 0.5 L 52.5 0.5 C 55.5 0.5 55.5 0.5 55.5 3.5 L 55.5 61.5 C 55.5 64.5 55.5 64.5 52.5 64.5 L 3.5 64.5 C 0.5 64.5 0.5 64.5 0.5 61.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" stroke="#000000" stroke-opacity="0.049999999999999996" stroke-width="5" transform="translate(1, 1)"></path>
																		  <path fill="none" class="highcharts-label-box highcharts-tooltip-box highcharts-shadow" d="M 3.5 0.5 L 52.5 0.5 C 55.5 0.5 55.5 0.5 55.5 3.5 L 55.5 61.5 C 55.5 64.5 55.5 64.5 52.5 64.5 L 3.5 64.5 C 0.5 64.5 0.5 64.5 0.5 61.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" stroke="#000000" stroke-opacity="0.09999999999999999" stroke-width="3" transform="translate(1, 1)"></path>
																		  <path fill="none" class="highcharts-label-box highcharts-tooltip-box highcharts-shadow" d="M 3.5 0.5 L 52.5 0.5 C 55.5 0.5 55.5 0.5 55.5 3.5 L 55.5 61.5 C 55.5 64.5 55.5 64.5 52.5 64.5 L 3.5 64.5 C 0.5 64.5 0.5 64.5 0.5 61.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" stroke="#000000" stroke-opacity="0.15" stroke-width="1" transform="translate(1, 1)"></path>
																		  <path fill="rgba(247,247,247,0.85)" class="highcharts-label-box highcharts-tooltip-box" d="M 3.5 0.5 L 52.5 0.5 C 55.5 0.5 55.5 0.5 55.5 3.5 L 55.5 61.5 C 55.5 64.5 55.5 64.5 52.5 64.5 L 3.5 64.5 C 0.5 64.5 0.5 64.5 0.5 61.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" stroke="#00aeef" stroke-width="1"></path>
																		  <text x="8" data-z-index="1" style="font-size:12px;color:#333333;cursor:default;fill:#333333;" y="20">
																			 <tspan style="font-weight:bold">adidas</tspan>
																			 <tspan x="8" dy="15">$256</tspan>
																			 <tspan x="8" dy="15">100%</tspan>
																		  </text>
																	   </g>
																	</svg>
																	<span style="font-family: &quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Arial, Helvetica, sans-serif; font-size: 18px; position: absolute; white-space: nowrap; margin-left: 0px; margin-top: 0px; left: 95.5px; top: 7px; color: rgb(51, 51, 51);" class="highcharts-title" data-z-index="4">Market Value</span>
																 </div>
															  </div>
														   </div>
														</div>
													 </div>
												  </div>
												  <div id="charts-tabs-pane-advanced" aria-labelledby="charts-tabs-tab-advanced" role="tabpanel" aria-hidden="true" class="tab-pane">
													 <div class="chart-row"></div>
												  </div>
											   </div>
											</div>
										 </div>
										 <div class="clearfix"></div>
									  </div>
					
								   </div>
								</div>


						
						
						
						
						
						
						
								</div>
						
								</div>
						</div>     
				 
                    </div>
                </div>
              </div>
						