		
               <div class="tabs ">
                     <div class="container-fluid">
                       <div class="row">
                           <% include ../../partials/user_dashboard_nav %>   
                           
                           <div class="col-xl-9">
                                 <div class="tab-content">  
			
                                       <div class="" id="tab_c">
														

                                             <div class="user-profile-page">
                                                <div class="profile-block">
                                                  <h1>Profile</h1>
                                                  <div class="seller-score-container">
                                                    <div>
                                                      <h2>SELLER LEVEL: 1</h2>
                                                      <div class="score-info">
                                                         <div class="score-bubbles">
                                                           <div class="bubble selected-bubble completed">1</div>
                                                           <div class="bubble  ">2</div>
                                                           <div class="bubble  ">3</div>
                                                           <div class="bubble  ">4</div>
                                                         </div>
                                                         <div class="stat-divider visbile-xs-block"></div>
                                                         <div class="score-stats">
                                                           <div class="seller-stat">
                                                             <h3>SALES<sup><i class="fa fa-question-circle"></i></sup></h3>
                                                             <h2>0</h2>
                                                           </div>
                                                           <div class="stat-divider"></div>
                                                           <div class="seller-stat">
                                                             <h3>Transaction Fee<sup><i class="fa fa-question-circle"></i></sup></h3>
                                                             <h2>9.5%</h2>
                                                           </div>
                                                         </div>
                                                      </div>
                                                    </div>
                                                    <div class="stat-divider"></div>
                                                    <div class="score-progress">
                                                      <div class="progress-block">
                                                         <h2>SALES TO REACH LEVEL 2<sup><i class="fa fa-question-circle"></i></sup></h2>
                                                         <div class="progress-bar">
                                                           <div class="progress progress-green" style="width: 0%;"></div>
                                                         </div>
                                                         <div class="progress-stats">
                                                           <div class="stat">
                                                             <h2><span class="stat-number">0</span>&nbsp;sales completed</h2>
                                                             <h3>PAST 12 MONTHS</h3>
                                                           </div>
                                                           <div class="stat">
                                                             <h2><span class="stat-number">3</span> NEEDED</h2>
                                                             <h3>by November 12, 2020</h3>
                                                           </div>
                                                         </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="other-fees">
                                                  <div class="profile-block">
                                                    <h1>streetwear</h1>
                                                    <div class="seller-stat">
                                                      <h3>Transaction Fee</h3>
                                                      <h2>9.5%</h2>
                                                    </div>
                                                  </div>
                                                  <div class="profile-block">
                                                    <h1>Collectibles</h1>
                                                    <div class="seller-stat">
                                                      <h3>Transaction Fee</h3>
                                                      <h2>9.5%</h2>
                                                    </div>
                                                  </div>
                                                  <div class="profile-block">
                                                    <h1>watches</h1>
                                                    <div class="seller-stat">
                                                      <h3>Transaction Fee</h3>
                                                      <h2>9.9%</h2>
                                                    </div>
                                                  </div>
                                                  <div class="profile-block">
                                                    <h1>handbags</h1>
                                                    <div class="seller-stat">
                                                      <h3>Transaction Fee</h3>
                                                      <h2>14.5%</h2>
                                                    </div>
                                                  </div>
                                                </div>
                                             </div>
                     
                     
                                          </div>
                                       
                                       

                           </div>
                        </div>

                           </div>
                        </div>
                      </div>