<div class="tabs ">
      <div class="container-fluid">
        <div class="row">
            <% include ../../partials/user_dashboard_nav %>   
                
            <div class="col-xl-9">
                  <div class="tab-content">     

      <div class="" id="tab_b">
                                <div class="dashboard-grid-page selling" id="page-content-wrapper">
       <div class="seller-stats">
          <div class="stat">
             <div><img src="images/buying1.png"></div>
             <div>
                <h3>sales</h3>
                <h2>--</h2>
             </div>
          </div>
          <div class="stat">
             <div><img src="images/buying2.png"></div>
             <div>
                <h3>sales (#)</h3>
                <h2>--</h2>
             </div>
          </div>
          <div class="stat">
             <div><img src="images/buying3.png"></div>
             <div>
                <h3>passed authentication</h3>
                <h2>--%</h2>
             </div>
          </div>
       </div>
       <div id="selling-tabs">
          <ul role="tablist" class="nav nav-tabs nv_tvs">
             <li role="presentation" class=""><a id="selling-tabs-tab-current" role="tab" aria-controls="selling-tabs-pane-current" aria-selected="false" href="#" tabindex="-1"><span>current</span></a></li>
             <li role="presentation" class=""><a id="selling-tabs-tab-pending" role="tab" aria-controls="selling-tabs-pane-pending" aria-selected="false" href="#" tabindex="-1"><span>pending</span></a></li>
             <li role="presentation" class="active"><a id="selling-tabs-tab-history" role="tab" aria-controls="selling-tabs-pane-history" aria-selected="true" href="#"><span>history</span></a></li>
          </ul>
          <div class="tab-content">
             <div id="selling-tabs-pane-current" aria-labelledby="selling-tabs-tab-current" role="tabpanel" aria-hidden="true" class="tab-pane"></div>
             <div id="selling-tabs-pane-pending" aria-labelledby="selling-tabs-tab-pending" role="tabpanel" aria-hidden="true" class="tab-pane"></div>
             <div id="selling-tabs-pane-history" aria-labelledby="selling-tabs-tab-history" role="tabpanel" aria-hidden="false" class="tab-pane active">
                <div class="sales-history">
                   <div class="collection-header header-history pagingCollectionTable__ActionBar-d8ww1c-4 iSIVdG">
                      <form class="form-inline searchForm pagingCollectionTable__SearchForm-d8ww1c-0 eJUxod">
                         <div class="form-group">
                            <div class="pagingCollectionTable__SearchBar-d8ww1c-1 gRvpGB"><input type="submit" class="pagingCollectionTable__SubmitButton-d8ww1c-3 QsRlz" value="Search"><input class="form-control searchInput" type="text" placeholder="Search name, order #" value=""></div>
                         </div>
                      </form>
                      <button class="sales-report btn btn-danger btn-flat">Request Export</button>
                   </div>
                   <div class="portfolio-item-table" style="position: relative;">
                      <table class="table">
                         <thead>
                            <tr class="headers">
                               <th class="col-lg-3 col-sm-4 col-xs-6 sortable undefined">Item </th>
                               <th class="col-lg-2 hidden-md hidden-sm hide-xs undefined">Order Number </th>
                               <th class="col-lg-2 col-sm-2 col-xs-3 sortable  dropdown">Sale Date </th>
                               <th class="col-sm-1 col-xs-2 sortable undefined">Price </th>
                               <th class="col-lg-2 col-sm-3 col-xs-2 hide-xs sortable undefined">Status </th>
                            </tr>
                         </thead>
                         <tbody>
                            <tr>
                               <td colspan="5" class="no-pis"><em>No Results.</em></td>
                            </tr>
                         </tbody>
                      </table>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
        </div>
      </div>
   </div>     
        
      </div>
   </div>
 </div>
         