<div class="bid-page" style="position: relative; overflow-y: hidden;">
    <div class="split-pane-page">
       <div class="split-pane with-button-bar">
       <div style="position: relative; overflow-y: hidden;" class="pane forty pane-grey">
 
             <div class="address-form fs-block">
                <div class="tp-heading">
                <div class="form-headg">Profile</div>
                <div class="form-titl">change your own settings</div>
                </div>   
                <div class="user_info">
                 <h1>Name</h1>
                <input data-testid="user-firstName" name="firstName" type="text" required="" placeholder="First Name" autocomplete="true" class="field  " value="">
                <input data-testid="user-lastName" name="lastName" type="text" required="" placeholder="Last Name" autocomplete="true" class="field  " value="">
                </div>
    
                <div class="user_info">
                
                <h1>User Info</h1>
                 <input data-testid="user-firstName" name="firstName" type="text" required="" placeholder="Username" autocomplete="true" class="field  " value="">
                
                <div class="field   field-select cntry">
 
                   <select name="countryCodeAlpha2" required="" placeholder="Country">
                      <option value="" >10</option>
                      <option value="" >10</option>
                      <option value="" >10</option>
                      <option value="" >10</option>
                      <option value="" >10</option>
                      <option value="" >10</option>
                      <option value="" >10</option>
                      <option value="" >10</option>
                      <option value="" >10</option>                                           
                   </select>

                </div>
                </div>

                <div class="user_info">
                
                <h1>Selected Currency</h1>
                
                       <div class="field   field-select cntry">
  
                   <select name="countryCodeAlpha2" required="" placeholder="Country">
                      <option value="" >10</option>
                      <option value="" >10</option>
                      <option value="" >10</option>
                      <option value="" >10</option>
                      <option value="" >10</option>
                      <option value="" >10</option>
                      <option value="" >10</option>
                      <option value="" >10</option>
                      <option value="" >10</option>
                   </select>
                   
                </div>
                
                </div>
    <div class="user_info">
                
                <input data-testid="user-firstName" name="firstName" type="text" required="" placeholder="Email" autocomplete="true" class="field  " value="">               
                 </div>
                 <div class="cncl_btn">
                   <button type="button " class="btn flT_lft">Cancel</button>
                   <button type="button" class="btn flT_right">Submit</button>
                   </div>   
          </div>
       </div>
    </div>
 </div>
 </div>
    