<div class="reset_sec">
	<div class="reset_img">
	<img src="/assets/images/img_resetEmail_2x.png" alt="Logo">	
	</div>
	<div class="reset_head">
	<h1>Reset Password Email Sent!</h1>
	</div>	
	<div class="reset_para">
	<p>An email with a link to reset your password has been sent to <strong>aquatecinnovative1@gmail.com.</strong></p>
	</div>	
	<div class="reset_para_btn">
	<button type="button " class="btn">Cancel</button>
	</div>	
	</div>

		 
		 
		 