<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>RoyalUI Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/vendors/base/vendor.bundle.base.css">
  <script src="/vendors/base/vendor.bundle.base.js"></script>
  <!--<link rel="stylesheet" href="/vendors/base/bootstrap.min.css">
  endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/images/favicon.png" />
</head>
<body>
        <div class="container-scroller">
                <!-- partial:partials/_navbar.html -->
                <% include ./partials/_navbar %>
             <!-- partial -->
                <div class="container-fluid page-body-wrapper">
                  <!-- partial:partials/_sidebar.html -->
                  <% include ./partials/_sidebar %>
               <!-- partial -->
                  <div class="main-panel">
                        <div class="content-wrapper">
                        <%- body %>
                        </div>
                  <!-- content-wrapper ends -->
                    <!-- partial:partials/_footer.html -->
                    <% include ./partials/_footer %>
                    <!-- partial -->
                  </div>
                  <!-- main-panel ends -->
                </div>
                <!-- page-body-wrapper ends -->
              </div>
              <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="/vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="/vendors/chart.js/Chart.min.js"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="/js/off-canvas.js"></script>
  <script src="/js/hoverable-collapse.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/js/dashboard.js"></script>
  <script>

   function postItem() {
    var data = {};
					data.query = $('#_query').val();
				
     $.ajax({
         type: "POST",
         url: $("#data-form").prop('action'),
         timeout: 10000,
         data: JSON.stringify(data),
         success: function(data) {
             //show content
             $('#result').text(JSON.stringify(data));
             //console.log(JSON.stringify(data));
             alert('Success!')
         },
         error: function(jqXHR, textStatus, err) {
             //show error message
             alert('text status '+textStatus+', err '+err)
         }
     });
 }//postItem()
 
 $("#submit-btn").on('click', function(e) {
   e.preventDefault();
     postItem();
    // alert('fdsf');
 });
    
 </script>
  <!-- End custom js for this page-->
</body>

</html>

<script type="text/javascript">
 var room = 1;
function education_fields() {
 
    room++;
    var objTo = document.getElementById('education_fields')
    var divtest = document.createElement("div");
	divtest.setAttribute("class", "form-group removeclass"+room);
	var rdiv = 'removeclass'+room;
 divtest.innerHTML ='<div class="col-sm-3 nopadding"><div class="form-group"><input type="text" class="form-control" id="attributename" name="attributename" value="" placeholder="Degree"></div> </div> <div class="col-sm-3 nopadding"> <div class="form-group"><div class="input-group"><div class="form-group"><input type="text" class="form-control" id="attributevalues" name="attributevalues" value="" placeholder="attribute|attribute|attribute"></div><div class="input-group-btn"> <button class="btn btn-danger" type="button" onclick="remove_education_fields('+ room +');"> <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> </button></div></div></div></div><div class="clear"></div>';
    objTo.appendChild(divtest)
}
   function remove_education_fields(rid) {
	   $('.removeclass'+rid).remove();
   }
    </script>
    https://bootsnipp.com/snippets/AXVrV