<div class="col-12 grid-margin stretch-card">
<div class="card">
    <div class="card-body">
      <h4 class="card-title">Query Tool</h4>
      <p class="card-description">
        Basic Data query tool
      </p>
      <form class="data-form" method="post" action="/admin/query-tool">
     
        <div class="form-group">
          <label for="exampleTextarea1">MongoDb Query</label>
          <textarea class="form-control" name="_query" id="_query" rows="4"></textarea>
        </div>
        <button type="submit" id="submit-btn" class="btn btn-primary mr-2">Submit</button>
        <button type="reset" class="btn btn-warning">Reset</button>
      </form>
    </div>
  </div>
</div>
  <div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Query Result</h4>
      <p id="result" class="card-description">
      
        Basic Data query tool Basic Data query tool Basic Data query tool Basic Data query tool
        Basic Data query tool Basic Data query tool Basic Data query tool Basic Data query tool 
        Basic Data query tool Basic Data query tool  Basic Data query tool Basic Data query tool
        Basic Data query tool Basic Data query tool Basic Data query tool Basic Data query tool
         
      </p>
    </div>
  </div>
</div>
 