<div class="row">
    <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <h4 class="font-weight-bold mb-0">Product Templates Mangement</h4>
              </div>
              <!-- <div>
                  <button type="button" class="btn btn-primary btn-icon-text btn-rounded">
                    <i class="ti-clipboard btn-icon-prepend"></i>AddProduct</button>
              </div> -->
            </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card"> 
         <div class="card-body">
          <h4 class="card-title">Subscriber Detals</h4>
          <div class="table-responsive">
            <table class="table table-striped">
                <tr> 
                    <td>Subscriber Email</td>
                    <td><%= subscriber%></td> 
                </tr>
                </table>
            </div>
         </div>
      </div>
    </div>