    <h4 class="card-title">Subscriber Detals</h4>
          <div class="table-responsive">
            <table class="table table-striped">
                <% for (var i = 0; i < subscriber.length; i++) { %>
                <tr> 
                    <td>Subscriber Email</td>
                    <td><%= subscriber[i].email%></td> 
                </tr>
            </table>
            </div>     